################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Model/bin/Debug
/Model/obj

/Test/bin/Debug
/Test/obj

/Web/bin
/Web/obj
