################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Model/bin/Debug
/Model/obj/Debug

/Test/bin/Debug
/Test/org/Debug
